input.field {
    width: 90%;
}

label {
    font-weight:bold;
}

select{
    overflow-y: auto;
    width: 100%;
}

#basic-nav-dropdown{
    color: white;
    font-weight: bold;
    background-color: #00CC77;
}

#basic-nav-brand{
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
